@font-face{
	font-family: 'Nuances';
	src: url('Nuances Typeface.otf') format(opentype);
	font-weight; 150;
}
body{
	/* this is the outermost element on your page*/
	background: white;
	font-family: 'Nuances';
	font-size: 150px;
}