@font-face{
	font-family: 'Nuances';
	src: url('Nuances Typeface.otf') format(opentype);
	font-weight; 150;
}
body{
	/* this is the outermost element on your page*/
		text-align: center;
	background: white;
	font-family: serif;
	font-size: 70px;
}